#sidebar{
	background: #484d53;
	width: 3%;
	height: 90%;
	position: fixed;
}

.channel_logo{
	width: 80%;
	border-radius: 50%;
	margin-top: 20%;
	margin-left: 10%;
}

.inativo{
	filter: grayscale(100%);
}

#add_button{
	border-radius: 50%;
	background-color: white;
	width: 80%;
}